/*#DO NOT RENAME THIS FILE*/

/*#region layout tweaks */

@media screen and (min-height: 800px) 
{
    .slide:not(.scroll-always) {
    height: 1px; /* https://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height */
    /* height 1px avoids a scrollbar on big screens, but it causes the footer to occlude content (when we actually want to scroll) */
    /* if you want to scroll on big screens too, you can add the class scroll-always to a slide, or completely disable this rule */
    /* scroll-always is by default added to slides for controllers */
}
}
/*#endregion*/

/*#region hide unwanted elements */

[v-cloak] { /* https://v2.vuejs.org/v2/api/#v-cloak */ 
    display: none; /* hides items during loading of page */
  }

th:first-child { /* hides top left column heading of table */
    color: var(--q-color-white);
}

.modebar { /* hides modebar by StipplePlotly */
    visibility: hidden;
}
/*#endregion*/

/*#region main colors */

:root {
    --q-color-primary: #184688;
    --q-color-secondary: #8fb6d6;
    --q-color-dark: #868686;
    --q-color-info: #373b44;
    --q-color-positive: #72c8a9;
    --q-color-negative: #bd5631;
    --q-color-accent: #9c27b0;
    --q-color-warning: #f2c037;
    --q-color-white: white;
    --q-color-black: rgb(31, 31, 31);
}

body {
    color:var(--q-color-black);
    background-color: var(--q-color-white);
}

.current {
    background-color: var(--q-color-secondary);
}

/*#endregion*/

/*#region sizes, fonts and positioning */

html {
    font-size: 2.5vw;
}

.slide :is(h1, h2, h3, h4, h5, h6) {
    padding: 0 10vw;
}

.titleslide h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif, Arial;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.settings-page, .landing-page {
    text-align: center;
}

.titleslide {
    padding: 5vmin;
}

body, p, header, ul, ol {
    font-size: 1rem;
}

footer {
    font-size: 0.5rem;
}

img {
    max-width: 100vw;
    max-height: 100vh;
}

text { /* Plotly stuff, such as legends or tick labels */
    font-size: 1rem !important;
    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica !important;  /* use Quasar fonts */
}

/*#endregion*/

/*#region breakpoint behavior */

@media screen and (max-width: 1600px) and (min-width: 1000px) {
    html {
    font-size: 40px;
  }
  .titleslide h1 {
    font-size: 2rem;
    line-height: 2rem
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    html {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
    html {
    font-size: 25px;
  }
  .titleslide h1 {
    font-size: 2rem;
    line-height: 2rem
  }
}
/*#endregion*/

/*#region Quasar/StippleUI (these settings have no unless these packages are being used) */

.q-separator {
    height: 3px;
    stroke-width: 20px;
}

.q-separator, .q-table td:hover {
    background-color: var(--q-color-secondary);
}

.q-layout__section--marginal {
    color: var(--q-color-dark);
    background-color: var(--q-color-white);
}

.q-drawer .q-list {
    font-size: 0.65rem;
}

.q-item__label {
    text-align: center;
}

.q-field__native { /* for (select) input field */
    justify-content:center;
    font-size: 1rem;
}

.q-table tbody td, .q-table th { /* for datatable */
    font-size: 0.57rem;
}
/*#endregion*/